name: Java CI with Maven

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: compile with maven
        run: mvn compile
      - name: test with maven
        run: mvn test

  security-check:
    runs-on: ubuntu-latest
    needs: compile

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Gitleaks Installation
        run: sudo apt install gitleaks -y

      - name: Gitleaks Code Scan
        run: gitleaks detect source . -r gitleaks-report.json -f json

  build:
    # Only runs on push to main
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [compile, security-check]

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag lafrindi/ddd-stock-app:latest
      - name: push image
        run: |
          docker login -u lafrindi -p ${{docker_token}}
          docker push lafrindi/ddd-stock-app:latest